*{
    padding: 0;
    margin: 0;
}
.wrapper {
    font-family: Arial, Helvetica, sans-serif;
}
.error{
    border: 1px solid red;
}
.width-80{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.banner{
    background-image: url('assets/images/bg.jpg');
    position: relative;
}
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.5;
    top: 0;
    z-index: 10;
}
.bannerContent{
    position: relative;
    z-index: 11;
}
.logo{
    padding: 20px;
}
.programs{
    color: #fff;
    margin: 0 auto;
}
.programContent{
    margin-top: 5rem;
}
.programContent h2{
    font-weight: bold;
}
.programDesc{
    border-left: 1px solid #fff;
    font-size: 1rem;
    padding-left: 1.5rem;
}
.registraionForm{
    background-color: #fff;
    border-radius: 0.50rem;
    text-align: center;
}
.applyBtn{
    text-align: center;
}
.form-check-label{
    color: #000;
    font-size: 0.7rem;
}
.customTitle{
    color: #000;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin: 1rem;
    display: inline-block;
    padding-bottom: 5px;
    position: relative;
}
.customTitle:before{
    content: "";
    position: absolute;
    width: 50%;
    height: 1px;
    bottom: 0;
    left: 25%;
    border-bottom: 2px solid #196ae5;
}
.features{
    justify-content: space-evenly;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.features label{
    font-size: .5rem;
    flex-wrap: wrap;
    width: 20%;
    font-size: 0.75rem;
    text-align: center;
}
.feature-desc{
    color: #000;
    cursor: pointer;
    text-align: center;
    padding: 3rem;
    border-radius: 5rem;
    font-weight: bold;
}
.yellowBg {
    background-color: #f7d354;
}
.blueBg {
    background-color: #42c5f1;;
}
.greenBg {
    background-color: #3baa8e;
}

.curriculum{
    background-color: #ecf4ff;
}
.accordion-button::after{
    background-image: none !important;
    content: "+";
}
.accordion-button:not(.collapsed)::after {
    background-image: none !important;
    content: "-";
    transform: translate(-5px, -4px);
    transform: rotate(0deg);
}
ul.learningList li {
    list-style-image: url('assets/images/black-tick.svg');
    line-height: 3rem;
    font-size: 0.75rem;
}
.carousel-prev-icon{
    background-image: url('assets/images/arrow.png');
}
.carousel-prev-icon{
    background-image: url('assets/images/arrow.png');
}

.testimonialAuthor{
    float: right;
    font-weight: bold;
    margin-top: 0.5rem;
}
.aboutText{
    background-color: #f0f0f0;
    padding: 1rem;
    text-align: center;
}
.footer{
    background-color: #260591;
    padding: 1rem;
    text-align: center;
    color: #fff;
}

@media only screen and (max-device-width: 767px) {
    .recommendation .features{
        display: none;
    }
    .registraionForm{
        order: 1;
    }
    .programContent{
        order: 2;
    }
    .learning{
        order: 2;
    }
    .laptop{
        order: 1;
    }
  }
